    .mynewform {
        display: flex;
        justify-content: center;
        /* text-align: center; */
        align-items: center;
        width: 100%;
        background-color: rgb(216, 216, 216);
        color: rgb(39, 3, 39);
    }
    
    .mynewform form {
        width: 500px;
        background-color: rgb(186, 206, 206);
        margin-left: 5px;
        border-radius: 10px;
        border: 3px solid black;
        /* display: flex; */
        /* align-items: flex-start; */
    }
    
    .option {
        margin: 5px;
        font-size: larger;
        padding: 4px;
    }
    
    .option option {
        padding: 10px;
        margin: 10px;
    }
    
    .mynewform button {
        background-color: rgb(226, 43, 180);
        font-size: larger;
        padding: 5px;
        border-radius: 10px;
    }
    
    .input {
        margin: 0%;
        font-size: large;
        /* display: flex; */
        /* color: #000; */
        margin-left: 5px;
    }
    
    .input input {
        padding: 5px;
        width: 300px;
    }
    
    select {
        padding: 5px;
        border-radius: 2px;
        width: 300px;
    }